body{
    margin: 0;
    padding: 0;
    background:lightgray;
    font-family: sans-serif;
}

.loginbox{
    height: 480px;
    width: 320px;
    background:black;
    color: #fff;
    top: 50%;
    left: 50%;
    border-radius: 5%;
    position: absolute;
    box-sizing: border-box;
    transform: translate(-50%,-50%);
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    padding: 0 0 20px;
    margin: 0;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="email"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover{
    background:#ffc017;
    cursor: pointer;
    color: #000;
}

.loginbox a{
    text-decoration: none;
    line-height: 20px;
    font-size: 14px;
    color: darkgray;
}

.loginbox a:hover{
    color: #ffc107;

}

#account{
    float: right;
}
@media screen and (max-width: 500px) {
    .loginbox{
        width: 95%;
        height: 100%;
    }
    body {
        background:#fff790;
    }
    .header {
        margin-right: -160px;
    }
    @media screen and (max-width: 800px) {
        .loginbox {
            width: 95%;
            height: 100%;
        }
        body {
            background:#fff790;
        }
        .header {
            margin-right: -160px;
        }
    }
}