
body{
    margin-top: 100px;
    background-image: url(space1.jpg);
}

.container{
    text-align: center;
    justify-items: center;
}

.grid{
    margin-left: 33rem;
    justify-items: center;
}

h1{
    font-size: 30px;
    color:darkslateblue;
    font-family: 'Press Start 2P', cursive;
}

h3{
    align-items: center;
    font-size: 22px;
    color:blueviolet;
    font-family: 'Press Start 2P', cursive;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    border: solid lightslategray 5px;
    border-radius: 15px;
    width: 300px;
    height: 300px;
}

.grid div{
    width: 20px;
    height: 20px;
}

.shooter{
    background-color: blue;
}

.invader{
    background-color: purple;
    border-radius: 10px;
}

.boom{
    background-color: red;
}

.laser{
    background-color: yellow;
}